%h1.offset1 Sign up
.hero-unit.span4
  = simple_form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f|
    = devise_error_messages!
    = f.input :name
    = f.input :email
    = f.input :password
    = f.input :password_confirmation
    = f.button :submit, "Sign up"
  = render "devise/shared/links"
