<h1 class="offset1">Listing Entries</h1>
<div class= "hero-unit">
<div class="row-fluid">
  <div class= "span1"><i class="icon-user"></i> Name</div>
  <div class= "span3"><i class="icon-thumbs-up"></i> Likes</div>
  <div class= "span3"><i class="icon-thumbs-down"></i> Dislikes</div>
</div>

<% @entries.each do |entry| %>
  <div class="row-fluid">

    <div class= "span1">Placeholder</div>
    <div class= "span3"><%= entry.likes %></div>
    <div class= "span3"><%= entry.dislikes %></div>

    <% unless !user_signed_in? %>
      <%= link_to 'Edit', edit_entry_path(entry), class: "btn btn-primary" %>
    <% end %>
  </div>
<% end %>

<br />
<% unless !user_signed_in? %>
  <%= link_to 'New Entry', new_entry_path, class: "btn btn-success" %>
  <br />
  <br />
<% end %>

<b>Total Likes:</b>
<%= @likes %>

<br />

<b>Total Dislikes:</b>
<%= @dislikes %>

<br />

<b>Total Entries:</b>
<%= @count %>

<br />
<div id="result">
  <b>Result: </b>
  <br />
</div>
<br />
<%= link_to raw("<i class=\"icon-refresh\"></i> Result"), entries_path, remote: true, class: "btn" %>
</div>
