<h1>Listing entries</h1>

<table>
  <tr>
    <th><i class="icon-user"></i> Name</th>
    <th><i class="icon-thumbs-up"></i> Likes</th>
    <th><i class="icon-thumbs-down"></i> Dislikes</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @entries.each do |entry| %>
  <tr>
    <td><%= entry.name %></td>
    <td><%= entry.likes %></td>
    <td><%= entry.dislikes %></td>
    <td><%= link_to 'Show', entry %></td>
    <td><%= link_to 'Edit', edit_entry_path(entry) %></td>
    <td><%= link_to 'Destroy', entry, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Entry', new_entry_path %>

<br />
<br />

<b>Total Likes:</b>
<%= @likes %>

<br />

<b>Total Dislikes:</b>
<%= @dislikes %>

<br />

<b>Total Entries:</b>
<%= @count %>

<br />
<div id="result">
  <b>Result: </b>
  <br />
</div>
<br />
<%= link_to raw("<i class=\"icon-refresh\"></i> Result"), entries_path, remote: true, class: "btn" %>
