<h1 class="offset1">Listing entries</h1>
<div class= "hero-unit">
<div class="row-fluid">
  <div class= "span1"><i class="icon-user"></i> Name</div>
  <div class= "span3"><i class="icon-thumbs-up"></i> Likes</div>
  <div class= "span3"><i class="icon-thumbs-down"></i> Dislikes</div>
</div>

<% @entries.each do |entry| %>
  <div class="row-fluid">

    <div class= "span1"><%= entry.name %></div>
    <div class= "span3"><%= entry.likes %></div>
    <div class= "span3"><%= entry.dislikes %></div>

    <div class= "btn-group">
      <%= link_to 'Show', entry, class: "btn btn-primary"%>
      <%= link_to 'Edit', edit_entry_path(entry), class: "btn btn-info" %>
      <%= link_to 'Destroy', entry, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger" %>
    </div>
  </div>
<% end %>

<br />

<%= link_to 'New Entry', new_entry_path, class: "btn btn-success" %>

<br />
<br />

<b>Total Likes:</b>
<%= @likes %>

<br />

<b>Total Dislikes:</b>
<%= @dislikes %>

<br />

<b>Total Entries:</b>
<%= @count %>

<br />
<div id="result">
  <b>Result: </b>
  <br />
</div>
<br />
<%= link_to raw("<i class=\"icon-refresh\"></i> Result"), entries_path, remote: true, class: "btn" %>
</div>
