<% unless notice.blank? %>
	<p class="alert alert-success"><%= notice %></p>
<% end %>
<h1 class="offset1">Entry for <%= current_user.name %></h1>
<div class="hero-unit">

<p>
  <b>Likes:</b>
  <%= @entry.likes %>
</p>

<p>
  <b>Dislikes:</b>
  <%= @entry.dislikes %>
</p>


<%= link_to 'Edit', edit_entry_path(@entry) %> |
<%= link_to 'Back', entries_path %>
</div>
