- preference = restaurant.preferences.find_by_user_id(current_user.id)

.btn-group{ id: "restaurant-#{restaurant.id}" }
  - case preference.try(:like)
  - when true
    %span.btn.btn-mini.btn-success.disabled.prefButton Like
    = link_to 'Reset', preference_path(preference), method: :delete,
        class: "btn btn-mini btn-danger prefButton", remote: true
  - when false
    = link_to 'Reset', preference_path(preference), method: :delete,
        class: "btn btn-mini btn-danger prefButton", remote: true
    %span.btn.btn-mini.btn-success.disabled.prefButton Dislike
  - else
    = link_to 'Like', like_restaurant_path(restaurant), method: :post,
        class: "btn btn-mini prefButton", remote: true
    = link_to 'Dislike', dislike_restaurant_path(restaurant), method: :post,
        class: "btn btn-mini prefButton", remote: true

  = link_to 'Edit', edit_restaurant_path(restaurant),
      class: "btn btn-primary btn-mini"
